* {
    box-sizing: border-box;
}
.jumbotron {
    background-color: #416788;
}

.btnwhite {
    background-color: white;
    color: black;
}

.searchbar {
    margin-top: 5%;
}

#logo {
    width: 8em;
    margin-left: 50px;
}

.website-title {
    margin-top: 40px;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    color: white;
}

.navbar-nav {
    margin-right: 50px;
}

.card-img {
    width: 100%;
    height: 240px;
}

img {
    vertical-align: middle;
    object-fit: cover;
}
.card-title {
    color: #416788; 
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
}

.hover-card{
    font-family: 'Roboto', sans-serif;
    padding: 3em;
    margin: auto;
    text-align: center;
    display: none;
}

.card-img:hover, .card-img:hover + .card-body{
    display: none;
}

.card-img:hover ~ .hover-card{
    display: block;
}

[class*="type"] {
    color: #6E8387; 
}

footer {
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #fcfafa;
}

.sortbar {
    margin-top: 3%;
}

table{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

th{
    height: 2rem;
    text-align: left;
    padding: .5em;
    border-bottom: 1px solid #d3d3d3;
}

tr {
    padding-bottom: 10px;
}

td{
    padding: .5em;
    border-bottom: 1px solid #d3d3d3;
}

.button {
    line-height: 1;
    display: inline-block;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    padding: 8px;
    background-color: darken($subtle,5%);
  }

tbody tr:hover{
    background-color: lightgrey;
}


.imageAbout {
    margin: 0px 15px 15px 0px;
    object-fit: cover;
    width: 700px;
    height: 700px;
}

.rightPadding{
    padding-right: 5%;
    padding-left: 15%;
}