* {
    box-sizing: border-box;
}
.jumbotron {
    background-color: #416788;
}

.btnwhite {
    background-color: gray;
    color: white;
}

.searchbar {
    margin-top: 5%;
}

.card-img {
    width: 100%;
    border-radius: 10px;
}

img {
    vertical-align: middle;
    object-fit: cover;
}
.card-title {
    color: #416788; 
}