* {
    box-sizing: border-box;
}

.jumbotron {
    background-color: #416788;
}

.btnwhite {
    background-color: white;
    color: black;
}

.searchbar {
    margin-top: 5%;
}

#logo {
    width: 8em;
    margin-left: 50px;
}

.website-title {
    margin-top: 40px;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    color: white;
}

.navbar-nav {
    margin-right: 50px;
}

.card-img {
    width: 100%;
    height: 240px;
}

img {
    vertical-align: middle;
    object-fit: cover;
}
.card-title {
    color: #416788; 
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
}

.hover-card{
    font-family: 'Roboto', sans-serif;
    padding: 3em;
    margin: auto;
    text-align: center;
    display: none;
}

.card-img:hover, .card-img:hover + .card-body{
    display: none;
}

.card-img:hover ~ .hover-card{
    display: block;
}

[class*="type"] {
    color: #6E8387; 
}

body {
    background-color: #fcfafa;
}

footer {
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    bottom: fixed;
}

/* Tourism/Table CSS */

.sortbar {
    margin-top: 3%;
}

table{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f8fafc;
    border-collapse: separate;
    border: solid #bfccd4 1px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    margin-bottom: 8px;
}

th{
    height: 2rem;
    text-align: left;
    padding: .5em;
    border-bottom: 1px solid #d3d3d3;
}

tr {
    padding-bottom: 10px;
}

.tr-att {
    width: 200px;
}

.tr-price {
    width: 100px;
}

td{
    padding: .5em;
}

tbody tr:hover{
    background-color: lightgray;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    table, thead, tbody, th, td, tr {
        display: block;
    }

    tr  { 
        border: 1px solid lightgray; 
    }

    thead tr {
        position: absolute;
        top: -999px;
        left: -9999px; 
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 10%; 
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    tbody tr:nth-child(odd) {
        background-color: lightgray;
    }
 
}

/* Landing CSS */ 

.about-img {
    background-repeat: no-repeat;
    width: 50%;
    position: absolute;
    left: 0px;
    height: 100%;
 }
 
.about-right {
    background-color: #416788;
    width: 50%;
    position: absolute;
    right: 0px;
    height: 100%;
 }

 .about-text {
    margin-top: 100px;
    text-align: center;
    color: white;
 }
 
 .about-why {
     font-style: italic;
     text-align: center; 
     color: #c8d3d5;
     letter-spacing: 0.3em;
 }

 .about-ex {
     margin-left: 20px;
     margin-right: 20px;
     color: white;
 }

 @media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    .about-img {
        background-repeat: no-repeat;
        width: 100%;
        position: absolute;
        height: 50%;
     }
     
    .about-right {
        margin-top: 50%;
        background-color: #416788;
        width: 100%;
        height: 100%;
     }
}